.thumbnail img{
	width: 100%;
	min-height:220px;
}
.thumbnail{
	padding:0;
}

.thumbnail .caption-full{
	padding: 9px;
}

.delete-form{
	display: inline;
}
.user_login{
	text-align:center;
}

.register{
	position:absolute;
	top:30%;
	left:25%;
	width:100%
}